.jtci {
	position: fixed;
	left: 0;
	width      : 100%;
}
.jtci > div {
	margin: 0;
	border: 1px solid;
	min-height: 55px;
	border-radius: 4px;
}
.jtci .close {
	border: 1px solid;
	border-radius: 100%;
	opacity: 0.6;
	width: 20px;
	height: 20px;
	line-height: 16px;
	text-align: center;
}
.jtci .uk-close {
	opacity: 0.6;
}
.jtci-legal {
	float: right;
	margin-left: 15px;
	font-weight: bold;
}
.jtci-message {
	display: table;
	width: 100%;
}